.App {
  text-align: center;
}

.link {
  color: #7E8D2B;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.user-social {
  width: 40px;
  height: 40px;
}

.loading-body {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  margin: 0 auto;
}

.landing-background {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.landing-logo {
  width: 70%;
  margin-top: -100px;
}

.landing-icon {
  width: 200px;
  height: 200px;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.down-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 auto;
  margin-left: -30px;
  margin-bottom: 40px;
  border-radius: 50%;
  transition: .2s ease;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.down-button:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.landing-main {
  display: block;
  align-items: none;
  justify-content: none;
}

.auth-logo {
  background: black;
  margin-left: -32px;
  margin-right: -32px;
  margin-top: -32px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 20px;
}

.auth-logo img {
  margin-top: 10px;
  margin-bottom: -20px;
}

.card-section {
  background: white;
  width: 100vw;
  margin-top: -25px;
}

.fade-animation {
  -webkit-animation: fadeOut 2s;
  animation: fadeOut 2s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.hover:hover {
  cursor: pointer;
}

.profile-card-image-container {
  position: relative;
  display: block;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  margin: 0 auto;
}

.profile-card-image, .social-main-image {
  display: block;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 20px;
  border: solid 5px black;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.profile-card-image:hover {
  opacity: 0.5;
}

.profile-card-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 210px;
  width: 210px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: rgba(255, 255, 255, 0.5);
}

.profile-card-image-container:hover .profile-card-image-overlay {
  opacity: 1;
}

@media screen and (max-width: 670px) {
  .social-main-image {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 475px) {
  .social-main-image {
    width: 75px;
    height: 75px;
    border: 3px solid black;
  }
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}